<div class="container-fluid">
  <div class="row text-center bg-light g-5 my-5">
    <div class="col-12">
      <p class="display-3"><strong>Subscribe for more info</strong></p>
    </div>
    <div class="col-12">
      <input type="email" placeholder="Enter your email" />
      <button type="submit" class="ms-2 bg-secondary text-white">
        <b>SUBSCRIBE</b>
      </button>
    </div>
    <div class="col-12">
      <h2 class="lead">Subscribe to receive updates and join our list.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p class="display-3"><strong>Series Del Mismo Autor</strong></p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="card m-5">
        <div class="card-img-top text-center">
          <img class="w-100" src="../assets/images/2proyecto/futurama.jpeg" />
        </div>
        <div class="card-body">
          <h1 class="card-title m-5">futurama</h1>
          <div class="card-text">
            <p>
              Fue producida por Matt Groening y David X. Cohen para la cadena
              Fox, Comedy Central y Hulu.
            </p>
            <p>
              La serie sigue las aventuras de un repartidor de pizza, Philip
              Fry, quien el 31 de diciembre de 1999 tropieza accidentalmente y
              cae por casualidad en una cápsula criogénica y despierta mil años
              después. En Estados Unidos la serie comenzó a emitirse por Fox
              desde el 28 de marzo de 1999 hasta su cancelación el 10 de agosto
              de 2003. Posteriormente, fue renovada por Comedy Central y se
              emitió en ese canal desde 2008 hasta 2013, cuando se emitió el
              último episodio, titulado «Meanwhile»
            </p>
            <p>
              Fry es un repartidor de pizza del siglo XX algo fantasioso, corto
              de mollera y sin un futuro por delante. Todo cambia cuando, en la
              Nochevieja de 1999, le encargan que entregue una pizza en un
              laboratorio. Allí es criogenizado por accidente, permaneciendo
              congelado por mil años. Fry despierta en el Nueva York del siglo
              XXXI, un lugar lleno de aliens y naves espaciales, en el que nada
              tiene que ver con como era antes. Inmediatamente, Fry se siente
              como un pez en el agua.
            </p>
            <p>
              Con la ayuda de una cíclope de pelo violeta llamada Leela y del
              alcohólico y políticamente incorrecto robot Bender, Fry logra
              contactar con su descendiente (por parte de su hermano), el
              profesor Hubert Farnsworth, un científico loco de más de cien años
              que les ofrece un trabajo como repartidores en su empresa de
              mensajería intergaláctica, Planet Express. Desde ese momento Fry
              se verá inmerso en una multitud de situaciones increíbles a lo
              largo de la galaxia, en la que conocerá todo tipo de razas de
              alienígenas, nuevos planetas y civilizaciones.
            </p>
            <p>
              En el equipo de Planet Express también estarán Hermes, un
              burócrata jamaicano campeón de limbo, Amy, una niña rica sin
              preocupaciones, y el doctor Zoidberg, un alienígena crustáceo con
              pocas dotes para la medicina. A lo largo de sus viajes se toparán
              también con otros personajes, como Zapp Brannigan, un general
              incompetente pero famoso que está obsesionado con Leela, y su
              ayudante, el escuchimizado alienígena verde Kif.
            </p>
          </div>
        </div>
      </div>

      <div class="card m-5">
        <div class="card-img-top text-center">
          <img class="w-100" src="../assets/images/2proyecto/ds.jpg" />
        </div>
        <div class="card-body">
          <h1 class="card-title m-5">(Des)Encanto</h1>
          <div class="card-text">
            <p>
              (Des)encanto (en inglés: Disenchantment) es una serie de animación
              para adultos creada por el dibujante estadounidense Matt Groening
              y producida por The ULULU Company para la plataforma de video bajo
              demanda Netflix.Los productores ejecutivos son Josh Weinstein y el
              propio Groening.La serie cuenta con 40 episodios repartidos en
              cuatro temporadas,la primera de ellas fue estrenada el 17 de
              agosto de 2018,la segunda el 20 de septiembre de 2019, la tercera
              el 15 de enero de 2021 y la cuarta el 9 de febrero del 2022.
            </p>
            <p>
              Ambientada en el reino fantástico medieval de Utopía (Dreamland),
              cuenta las desventuras de Bean, una princesa rebelde y alcohólica,
              un duendecillo llamado Elfo y un demonio llamado Luci.
            </p>
            <p>
              Desencanto es una comedia de animación para adultos que se sitúa
              en el reino medieval de Dreamland. En él, vive la joven princesa
              Bean, una chica alcohólica a la que acompañan su elfo y su demonio
              Luci mientras están rodeados de ogros, arpías, trolls, morsas y
              humanos tontos. La ficción recorrerá el sentido de la vida desde
              una visión de desencanto, en el que la vida, la muerte, el amor y
              el sexo son los protagonistas. Cierto que los personajes son
              atractivos -aunque no particularmente memorables-, que de tanto en
              tanto hay un gag inspirado, pero las tramas son poco creíbles y
              tiene graves problemas de ritmo. El 15 de enero del 2021 se
              estrenó la tercera parte y no solo no mejoró sino que fue aún más
              decepcionante. La cuarta parte llegó al servicio de streaming el 9
              de febrero del 2022, de nuevo con diez episodios. Mejora mejora
              ligeramente a su predecesora y quizá sea la más sólida de las
              cuatro primeras, lo que no quiere decir que sea particularmente
              recomendable. El desenlace queda abierto y las tramas inconclusas,
              así que parece que sus responsables tienen intención de seguir
              adelante si Netflix está por la labor.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center bg-light g-5 my-5">
      <div class="col-12">
        <p class="display-3"><strong>Needs more info</strong></p>
      </div>
      <div class="col-12">
        <h2 class="lead">send me an email to get more info about products</h2>
      </div>
      <div class="col-12">
        <input type="email" placeholder="Enter your email" />
        <button type="submit" class="ms-2 bg-secondary text-white">
          <b>SUBSCRIBE</b>
        </button>
      </div>
    </div>
  </div>
</div>
