#pSelec {
  width: 70%;
}
.imagenProd {
  display: flex;
  width: 100%;
  height: 500px;
  flex-grow: 1;
  background-color: grey;
}

.descriptionPd {
  line-height: 1.8;
}
.favoritos {
  background-color: rgb(255, 217, 15);
  color: white;
}
#ImageSim {
  height: 200px;
  width: 200px;
}
#avatar {
  height: 80px;
  width: 80px;
}
#rFont {
  font-size: 20px;
  font-family: "Lucida Console";
}
.stars-outer {
  display: inline-block;

  position: relative;

  font-size: x-large;
}

.stars-outer::before {
  content: "\2605 \2605 \2605 \2605 \2605";
}

.stars-inner {
  position: absolute;

  top: 0;

  left: 0;

  white-space: nowrap;

  overflow: hidden;

  font-size: x-large;
}

.stars-inner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
}
