<main>
  <div>
    <!-- navegador -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
        >
          <a class="navbar-brand" href="#">
            <img src="./assets/images/b1.jfif" width="45" height="45" />
          </a>
          <span class="fs-4">logo</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link">Nav1</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Nav2</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Nav3</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Nav4</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Nav5</a></li>
        </ul>

        <div class="col-md-2 text-end">
          <button
            type="button"
            class="btn btn-outline-secondary"
            style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.5rem"
          >
            Login
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.5rem"
          >
            Sign-up
          </button>
        </div>
      </div>
    </nav>
    <section>
      <!-- centro n1 -->
      <!-- centro n1 izq-->
      <div class="row border-bottom align-items-center" style="padding: 40px">
        <div class="col-xs-5 col-md-4">
          <h4><b>Powerful Tagline For Your Product</b></h4>
          <p style="font-size: 14px">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </p>
          <!-- boton centro n1 izq -->
          <div class="row">
            <div class="col-8">
              <a class="btn bg-dark text-white" href="#"
                ><b>Start your free trial</b></a
              >
            </div>
          </div>
        </div>
        <!-- centro n1 drecha -->
        <div class="col-8">
          <img
            src="./assets/images/hs.jfif"
            style="width: 100%; height: 100%"
          />
        </div>
      </div>

      <!-- conteneador centro n2 -->
      <div class="row border-bottom" style="padding: 50px">
        <!-- Feature one -->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="./assets/images/i1.png" width="48" height="48" />
          </div>
          <div>
            <h4>Featured title</h4>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence .
            </p>
          </div>
        </div>
        <!-- Feature two -->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="./assets/images/i2.png" width="48" height="48" />
          </div>
          <div>
            <h4>Featured title</h4>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence .
            </p>
          </div>
        </div>
        <!-- Feature three  -->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="./assets/images/i3.png" width="48" height="48" />
          </div>
          <div>
            <h4>Featured title</h4>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence .
            </p>
          </div>
        </div>
        <!-- Feature Four -->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="./assets/images/i4.png" width="48" height="48" />
          </div>
          <div>
            <h4>Featured title</h4>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence .
            </p>
          </div>
        </div>
        <!-- Feature Five -->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="./assets/images/i5.png" width="48" height="48" />
          </div>
          <div>
            <h4>Featured title</h4>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence .
            </p>
          </div>
        </div>
        <!-- Feature Six -->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <img src="./assets/images/i6.png" width="48" height="48" />
          </div>
          <div>
            <h4>Featured title</h4>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence .
            </p>
          </div>
        </div>
      </div>
      <!-- centro n3-->
      <div class="row align-items-center" style="padding: 40px">
        <div class="col-8">
          <img
            src="./assets/images/cal.jfif"
            style="width: 100%; height: 100%"
          />
        </div>
        <!-- centro n4-->
        <!-- texto e iamgen arriba-->
        <div class="col-xs-5 col-md-4">
          <h4><b>Primary benefit showcase</b></h4>
          <p style="font-size: 12px">
            Or, keep it light and add a border for some added definition to the
            boundaries of your content. Be sure to look under the hood at the
            source HTML here as we've adjusted the alignment and sizing of both
            column's content for equal-height.
          </p>
        </div>
      </div>
      <div class="row border-bottom align-items-center" style="padding: 40px">
        <div class="col-xs-5 col-md-4">
          <!-- texto e iamgen debajo-->
          <h4><b>Secondary benefit showcase</b></h4>
          <p style="font-size: 12px">
            Or, keep it light and add a border for some added definition to the
            boundaries of your content. Be sure to look under the hood at the
            source HTML here as we've adjusted the alignment and sizing of both
            column's content for equal-height.
          </p>
        </div>
        <div class="col-8">
          <img
            src="./assets/images/rd.jfif"
            style="width: 100%; height: 100%"
          />
        </div>
      </div>

      <!-- centro n5-->
      <div
        class="row border-bottom bg-light justify-content-center"
        style="text-align: center; padding: 90px"
      >
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="card bg-light" style="border: none">
            <div class="card-body">
              <img
                src="./assets/images/i7.png"
                width="48"
                height="48"
                style="width: 50px; height: 50px"
              />
              <h5 class="card-title"><b>Primary Benefit One</b></h5>
              <p class="card-text">
                Paragraph of text beneath the heading to explain the heading.
                We'll add onto it with another sentence and probably just keep
                going until we run out of words..
              </p>
            </div>
          </div>
        </div>
        <!-- centro n5 - 2-->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="card bg-light" style="border: none">
            <div class="card-body">
              <img src="./assets/images/i8.png" width="48" height="48" />
              <h5 class="card-title"><b>Primay Benefit Two</b></h5>
              <p class="card-text">
                Paragraph of text beneath the heading to explain the heading.
                We'll add onto it with another sentence and probably just keep
                going until we run out of words.
              </p>
            </div>
          </div>
        </div>
        <!-- centro n5 - 3-->
        <div class="col-xs-6 col-md-4 d-flex align-items-start">
          <div class="card bg-light" style="border: none">
            <div class="card-body">
              <img src="./assets/images/i9.png" width="48" height="48" />
              <h5 class="card-title"><b>Primary Benefit Three</b></h5>
              <p class="card-text">
                Paragraph of text beneath the heading to explain the heading.
                We'll add onto it with another sentence and probably just keep
                going until we run out of words.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- centro n6 -->
      <div
        class="row"
        style="margin-top: 80px; margin-bottom: 50px; padding: 10px"
      >
        <!-- Columnas de los Comentarios-->
        <div class="col-12" style="text-align: center">
          <h3><b>What our users say</b></h3>
        </div>
        <div class="col-12" style="text-align: center; margin-bottom: 20px">
          <p>
            Reprehenderit nemo quod tempore doloribus ratione distinctio quis
            quidem vitae sunt reicinedi.
          </p>
        </div>
        <div class="col-12 d-flex align-items-stretch">
          <!--card 1-->
          <div class="col-6">
            <div class="card m-2 h-100">
              <div class="card-body">
                <div class="card-title">
                  <h3>Gregory Jones</h3>
                </div>
                <div class="card-text">
                  <p>
                    Some quick example text to build on the card title and make
                    up.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--card 1-->
          <div class="col-6">
            <div class="card m-2 h-100">
              <div class="card-body">
                <div class="card-title">
                  <h3>Maria Guitierrez</h3>
                </div>
                <div class="card-text">
                  <p>
                    Some quick example text to build on the card title and make
                    up.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- centro 7 planes compra-->
      <div
        class="row bg-light"
        style="text-align: center; justify-content: space-around; padding: 40px"
      >
        <div class="col-12">
          <h3><b>Choose your plan</b></h3>
        </div>

        <div class="col-12">
          <p>
            Choose a plan thath right for ¡your simple pricing no hidden
            charges.
          </p>
        </div>

        <div class="col-12"></div>
        <!--Basic-->
        <div class="col-12 row align-items-stretch">
          <div class="col-xs-6 col-md-4">
            <div class="card m-2 h-100 cardSus">
              <div class="card-title py-3">
                <h4><b>BASIC</b></h4>
              </div>
              <div
                class="card-body p-5 d-flex justify-content-between flex-column"
              >
                <h1 class="card-title">$9</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="p-2">3 Projects</li>
                  <li class="p-2">250 obcard-bodyjects per project</li>
                  <li class="p-2">One Active User</li>
                </ul>
                <a class="btn text-dark" href="#"><b>Choose this plan</b></a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="card m-2 h-100 cardSus">
              <div class="card-title py-3">
                <h4><b>PROFESIONAL</b></h4>
              </div>
              <div
                class="card-body p-5 d-flex justify-content-between flex-column"
              >
                <h1 class="card-title">$29</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="p-2">20 Projects</li>
                  <li class="p-2">800 objects per projects</li>
                  <li class="p-2">10 Active Users</li>
                  <li class="p-2">Team Collaboration</li>
                </ul>
                <a class="btn text-dark bg-dark text-white" href="#"
                  ><b>Choose this plan</b></a
                >
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-md-4">
            <div class="card m-2 h-100 cardSus">
              <div class="card-title py-3">
                <h4><b>ENTERPRISE</b></h4>
              </div>
              <div
                class="card-body p-5 d-flex justify-content-between flex-column"
              >
                <h1 class="card-title">$99</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="p-2">Unlimited Projects</li>
                  <li class="p-2">No object limit</li>
                  <li class="p-2">Unlimited Users</li>
                  <li class="p-2">Team Collaboration</li>
                  <li class="p-2">Priority Support</li>
                </ul>
                <a class="btn text-dark" href="#"><b>Choose this plan</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- centro 8-->
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-5 p-md-5 border rounded-3 bg-light">
          <div class="text-center">
            <h6 class="display-6 fw-bold">Start your free trial</h6>
            <p>Signup now. Its and takes less than 3 minutes</p>
          </div>

          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Full Name</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <button class="w-100 btn btn-lg btn-secondary" type="submit">
            Get Started for free
          </button>
        </form>
      </div>
    </section>
  </div>
</main>
<!-- footer-->
<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <img src="./assets/images/logoFc.png" width="48" height="48" />
    <img src="./assets/images/logoIns.png" width="48" height="48" />
    <img src="./assets/images/logoTw.png" width="48" height="48" />
    <img src="./assets/images/logoYT.png" width="48" height="48" />
  </ul>
  <p class="text-center text-muted">1717 Harrison st Nueva Nueva York</p>
  <p class="text-center text-muted">© 3000 Company, All rigth reserved</p>
</footer>
