<body>
  <!-- navegador -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <a class="navbar-brand" href="#">
          <img src="./assets/images/logo.png" width="45" height="45" />
        </a>
        <span class="fs-4">logo</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
      </ul>

      <button type="button" class="btn btn-outline-secondary">Your Cart</button>
    </div>
  </nav>

  <!--centro-->
  <section>
    <!--seccion 1 izq-->
    <div class="row">
      <div class="col 6">
        <img src="..." class="img-thumbnail" alt="..." />
      </div>
      <!--seccion 1 drch-->
      <div class="col 6">
        <div class="col 6">
          <h4>Product title</h4>
        </div>
        <div class="col 6">
          <p>$1232</p>
        </div>
        <div class="col 6">
          <p>
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y
            archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar
            de las industrias desde el año 1500, cuando un impresor (N. del T.
            persona que se dedica a la imprenta) desconocido usó una galería de
            textos y los mezcló de tal manera que logró hacer un libro de textos
            especimen
          </p>
        </div>
        <div class="col 6">
          <button type="button" class="btn btn-secondary">Delete Item</button>
        </div>
      </div>
    </div>
    <!--seccion 2 -->
    <div class="row">
      <div class="col 12">
        <!--seccion 2 titulo-->
        <div class="col 12">
          <h4>Similar title</h4>
        </div>
        <!--seccion 2 contenedor-->
        <div class="row align-items-md-stretch">
          <!--seccion 2 izq-->
          <div class="col-md-6">
            <div>
              <img id="ImgS2" src="http://lorempixel.com/300/200/" />
              <div>
                <div>prueba textos</div>
                <div>prueba textos</div>
                <div>prueba textos</div>
              </div>
            </div>
          </div>
          <!--seccion 2 drch-->
          <div class="col-md-6">
            <div>
              <img id="ImgS2" src="http://lorempixel.com/300/200/" />
              <div>
                <div>prueba textos</div>
                <div>prueba textos</div>
                <div>prueba textos</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--seccion 3 -->
    <p>Este es el contenido seccion 3 de la página.</p>
  </section>
  <!--aside-->
  <aside>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button">Filter</button>
      <button class="btn btn-primary" type="button">Reset Filter</button>
    </div>
    <h5 class="text">Products</h5>
    <ul>
      <li class="prod">
        <div class="d-grid gap-2">
          <button type="button">Product 1</button>
        </div>
      </li>
      <li class="prod">
        <div class="d-grid gap-2">
          <button type="button">Product 2</button>
        </div>
      </li>
      <li class="prod">
        <div class="d-grid gap-2">
          <button type="button">Product 3</button>
        </div>
      </li>
      <li class="prod">
        <div class="d-grid gap-2">
          <button type="button">Product 4</button>
        </div>
      </li>
      <li class="prod">
        <div class="d-grid gap-2">
          <button type="button">Product 5</button>
        </div>
      </li>
      <li class="prod">
        <div class="d-grid gap-2">
          <button type="button">Product 6</button>
        </div>
      </li>
    </ul>
    <p>Este es el contenido aside de la página.</p>
  </aside>
  <!--footer-->
  <footer><p>Este es el pie de página</p></footer>
</body>
