ul {
  list-style: none;
  padding: 0;
  li {
    padding: 0.5em 0;
    a {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      width: 100%;
      color: black;
      font-size: 18px;
      font-family: "Lucida Console";
      span {
        margin-left: auto;
        font-size: 18px;
        font-family: "Lucida Console";
      }
    }
  }
}
